@import '../../global.scss';

.project {
    padding: 100px 0;

    .head-tag {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        color: $darkBlue;
        margin: 40px 0;

        h2 {
            font-weight: 700;
        }

        span {
            font-size: 13px;
            font-weight: 600;
        }
    }

    .main {



        .main-content {
            position: relative;
            margin-bottom: 30px;


            img {
                width: 100%;
                cursor: pointer;
            }

            .main-items {
                position: absolute;
                bottom: 0px;
                left: 0;
                background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding: 40px;
                transition: 0.7s;

                @include mobile {
                    padding: 10px;
                }

                &:hover {
                    width: 100%;

                    .content-arrow {
                        margin-left: 20px;
                        transition: 0.7s;
                    }
                }

                h4 {
                    color: $white;

                    @include mobile {
                        font-size: 16px;
                    }
                }

                p {
                    color: #fff;
                    font-weight: 300;
                    font-size: 14px;

                    @include mobile {
                        font-size: 10px;
                    }
                }

                .span {
                    color: $gold;
                    cursor: pointer;
                    text-decoration: none;

                    @include mobile {
                        font-size: 10px;
                    }
                }
            }

        }
    }

    .side {

        img {
            width: 77%;
            cursor: pointer;
        }


        .side-content {
            position: relative;


            .side-items {
                position: absolute;
                bottom: 0px;
                top: 0;
                background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
                width: 40%;
                height: 92%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding: 25px;
                transition: 0.7s;

                @include mobile {
                    padding: 10px;
                }

                &:hover {
                    width: 77%;

                    .content-arrow {
                        margin-left: 20px;
                        transition: 0.7s;
                    }
                }

                h4 {
                    color: $white;
                    font-size: 18px;

                    @include mobile {
                        font-size: 16px;
                    }
                }

                .span {
                    color: $gold;
                    cursor: pointer;
                    text-decoration: none;

                    @include mobile {
                        font-size: 10px;
                    }
                }
            }
        }


    }
}