@import '../../global.scss';

.process {
    padding: 80px 0;

    h2 {
        text-align: center;
        font-size: 40px;
        font-weight: 600;
        line-height: 64px;
    }

    .col-lg-3 {
        margin: 20px 0;

        .process-line {
            display: flex;
            justify-content: space-evenly;
            width: 70%;
            margin: 20px 0;
    
            .circle {
                width: 18px;
            }
    
            .line {
                width: 160px;
            }
        }
    }
}